@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  min-height: 100%;
  background: #F4FFFD; /* Clean dark background, change if you prefer light */
  color: #21221B;
  font-family: 'Inter', system-ui, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}