.footer
{
    background-color: black;
    padding: 2vh 0 2vh 0;
    color: white;
    width: 100vw;
    height: 5vh;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    "Courier New", monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rowText
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowList
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divider
{
    width: 1vw;
}

.rowList > * 
{
    font-size: large;
    padding: 0;
    margin: 0;
}

.footerText
{
    text-align: center;
    margin: 0;
    color: whitesmoke;
    font-size: .5rem;
}