
html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  width: 100%;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
}

.news > a {
  color: black;
  text-decoration:underline;
  font-size: 1.2em;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.news {
  text-align: center;
  font-size: 1em;
}

.box
{
  background-color: whitesmoke;
  padding: 0.8vw;
  font-size: 5vw;
  font: -apple-system, system-ui, sans-serif;
  opacity: 0.8;
}