
html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  background-color: black;
}

a {
  text-align: center;
  font-size: 5em;
  text-overflow: wrap;
  font-kerning: normal;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  font-style: normal;
  font-variant: small-caps;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

a:hover {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
}