.root
{
    max-width: 100vw;
}

.column
{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 25vw;
  }

.column > div
{
  padding:1vmin;
}

@media only screen and (max-width: 768px) 
{
  .column {
    width: 75vw;
  }
  .main{
    padding: 8vmin 0 5vmin 0;
  }
}